{%  extends  'base.html' %}
{% load sekizai_tags cms_tags  menu_tags thumbnail static  %}


{% block content %}
{#{% placeholder "content" %}#}
  <!-- Back to top button -->
  <div class="back-to-top"></div>
    <div class="container">
      <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft">
            <h1 class="mb-4">{% placeholder "front-page-title" %}</h1>
            <p class="text-lg text-grey mb-5">{% placeholder "front-page-descriptions" %}</p>
            <a href="#" class="btn btn-primary btn-split">Watch Video <div class="fab"><span class="mai-play"></span></div></a>
          </div>
          <div class="col-md-6 py-5 wow zoomIn">
            <div class="img-fluid text-center">
{#              <img src="{% static 'img/banner_image_1.svg'%}" alt="">#}
                {% placeholder "front-page-image" %}
            </div>
          </div>
        </div>
        <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
      </div>
    </div>

  <div class="page-section">
    <div class="container">
      <div class="row">
        {% placeholder "card_content" %}


{#        <div class="col-lg-4">#}
{#          <div class="card-service wow fadeInUp">#}
{#            <div class="header">#}
{#              <img src="{{i.image.url}}" alt="">#}
{#            </div>#}
{#            <div class="body">#}
{#              <h5 class="text-secondary">{{i.title}}</h5>#}
{#<!--              <p>We help you define your SEO objective & develop a realistic strategy with you</p>-->#}
{#                <p>{{i.description }}</p>#}
{#              <a href="service.html" class="btn btn-primary">Read More</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section" id="about">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6 py-3 wow fadeInUp">
          <span class="subhead">About us</span>
          <h2 class="title-section">{% placeholder "Service company title" %}</h2>
          <div class="divider"></div>
            <p>{% placeholder "company description" %}</p>
            {% placeholder "comapny description button" %}
{#          <a href="about.html" class="btn btn-primary"></a>#}
        </div>
        <div class="col-lg-6 py-3 wow fadeInRight">
          <div class="img-fluid py-3 text-center">
            {% placeholder "company image" %}
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section bg-light">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">{% placeholder "company services" %}</div>
        <h2 class="title-section">{% placeholder " services title" %}</h2>
        <div class="divider mx-auto"></div>
      </div>

        <div class="row">
            {% placeholder "service card content" %}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">#}
{#            <div class="features">#}
{#              <div class="header mb-3">#}
{#                <span class="mai-business"></span>#}
{#              </div>#}
{#              <h5>OnSite SEO</h5>#}
{#              <p>We analyse your website's structure, internal architecture & other key</p>#}
{#            </div>#}
{#          </div>#}
        </div>

    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section banner-seo-check">
    <div class="wrap bg-image" >
      <div class="container text-center">
        <div class="row justify-content-center wow fadeInUp">
          <div class="col-lg-8">
            <h2 class="mb-4">{%  placeholder "button data" %}</h2>
            <form action="#">
              <input type="text" class="form-control" placeholder="E.g google.com">
              <button type="submit" class="btn btn-success">Check Now</button>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .wrap -->
  </div> <!-- .page-section -->

  <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">{% placeholder "Pricing Plan title" %}</div>
        <h2 class="title-section">{% placeholder "choose plan data" %}</h2>
        <div class="divider mx-auto"></div>
      </div>
      <div class="row mt-5">
          {% placeholder "plan-card-data" %}
{#        <div class="col-lg-4 py-3 wow zoomIn">#}
{#          <div class="card-pricing">#}
{#            <div class="header">#}
{#              <div class="pricing-type">Basic</div>#}
{#              <div class="price">#}
{#                <span class="dollar">$</span>#}
{#                <h1>39<span class="suffix">.99</span></h1>#}
{#              </div>#}
{#              <h5>Per Month</h5>#}
{#            </div>#}
{#            <div class="body">#}
{#              <p>25 Analytics <span class="suffix">Campaign</span></p>#}
{#              <p>1,300 Change <span class="suffix">Keywords</span></p>#}
{#              <p>Social Media <span class="suffix">Reviews</span></p>#}
{#              <p>1 Free <span class="suffix">Optimization</span></p>#}
{#              <p>24/7 <span class="suffix">Support</span></p>#}
{#            </div>#}
{#            <div class="footer">#}
{#              <a href="#" class="btn btn-pricing btn-block">Subscribe</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

{#        <div class="col-lg-4 py-3 wow zoomIn">#}
{#          <div class="card-pricing marked">#}
{#            <div class="header">#}
{#              <div class="pricing-type">Standar</div>#}
{#              <div class="price">#}
{#                <span class="dollar">$</span>#}
{#                <h1>59<span class="suffix">.99</span></h1>#}
{#              </div>#}
{#              <h5>Per Month</h5>#}
{#            </div>#}
{#            <div class="body">#}
{#              <p>25 Analytics <span class="suffix">Campaign</span></p>#}
{#              <p>1,300 Change <span class="suffix">Keywords</span></p>#}
{#              <p>Social Media <span class="suffix">Reviews</span></p>#}
{#              <p>1 Free <span class="suffix">Optimization</span></p>#}
{#              <p>24/7 <span class="suffix">Support</span></p>#}
{#            </div>#}
{#            <div class="footer">#}
{#              <a href="#" class="btn btn-pricing btn-block">Subscribe</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

{#        <div class="col-lg-4 py-3 wow zoomIn">#}
{#          <div class="card-pricing">#}
{#            <div class="header">#}
{#              <div class="pricing-type">Professional</div>#}
{#              <div class="price">#}
{#                <span class="dollar">$</span>#}
{#                <h1>99<span class="suffix">.99</span></h1>#}
{#              </div>#}
{#              <h5>Per Month</h5>#}
{#            </div>#}
{#            <div class="body">#}
{#              <p>25 Analytics <span class="suffix">Campaign</span></p>#}
{#              <p>1,300 Change <span class="suffix">Keywords</span></p>#}
{#              <p>Social Media <span class="suffix">Reviews</span></p>#}
{#              <p>1 Free <span class="suffix">Optimization</span></p>#}
{#              <p>24/7 <span class="suffix">Support</span></p>#}
{#            </div>#}
{#            <div class="footer">#}
{#              <a href="#" class="btn btn-pricing btn-block">Subscribe</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <!-- Banner info -->
  <div class="page-section banner-info">
    <div class="wrap bg-image">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3 pr-lg-5 wow fadeInUp">
            <h2 class="title-section">{% placeholder "banner-info-title" %}</h2>
            <div class="divider"></div>
            <p>{% placeholder "banner-info-description" %}</p>

            <ul class="theme-list theme-list-light text-white">
              <li>
                <div class="h5"> {% placeholder "content strategy title" %}</div>
                <p>{% placeholder "content strategy data" %}</p>
              </li>
              <li>
                <div class="h5">{% placeholder "B2B title" %}</div>
                <p>{% placeholder "B2b data" %}</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 py-3 wow fadeInRight">
            <div class="img-fluid text-center">
{#              <img src="{% static 'img/banner_image_2.svg' %}" alt="">#}
                {% placeholder "Banner info image" %}
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .wrap -->
  </div> <!-- .page-section -->

  <!-- Blog -->
  <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">{% placeholder "Blog title" %}</div>
        <h2 class="title-section">{%  placeholder "Blog related news" %}</h2>
        <div class="divider mx-auto"></div>
      </div>

      <div class="row mt-5">
          {% placeholder "blog card content" %}
{#        <div class="col-lg-4 py-3 wow fadeInUp">#}
{#          <div class="card-blog">#}
{#            <div class="header">#}
{#              <div class="post-thumb">#}
{#                <img src="{% static 'img/blog/blog-1.jpg' %}" alt="">#}
{#              </div>#}
{#            </div>#}
{#            <div class="body">#}
{#              <h5 class="post-title"><a href="#">Source of Content Inspiration</a></h5>#}
{#              <div class="post-date">Posted on <a href="#">27 Jan 2020</a></div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="col-lg-4 py-3 wow fadeInUp">#}
{#          <div class="card-blog">#}
{#            <div class="header">#}
{#              <div class="post-thumb">#}
{#                <img src="{% static 'img/blog/blog-2.jpg' %}" alt="">#}
{#              </div>#}
{#            </div>#}
{#            <div class="body">#}
{#              <h5 class="post-title"><a href="#">Source of Content Inspiration</a></h5>#}
{#              <div class="post-date">Posted on <a href="#">27 Jan 2020</a></div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="col-lg-4 py-3 wow fadeInUp">#}
{#          <div class="card-blog">#}
{#            <div class="header">#}
{#              <div class="post-thumb">#}
{#                <img src="{% static 'img/blog/blog-4.jpg' %}" alt="">#}
{#              </div>#}
{#            </div>#}
{#            <div class="body">#}
{#              <h5 class="post-title"><a href="#">Source of Content Inspiration</a></h5>#}
{#              <div class="post-date">Posted on <a href="#">27 Jan 2020</a></div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

        <div class="col-12 mt-4 text-center wow fadeInUp">
{#          <a href="" class="btn btn-primary">View More</a>#}
            {% placeholder "blog page button" %}
        </div>
      </div>
    </div>
  </div>



{% endblock %}

